-r "requirements.txt"
-r "flake8-plugin-requirements.txt"

# Linting
pylint==2.15.10
flake8==4.0.1
bandit==1.7.4
yamllint==1.29.0
pyright==1.1.289
pydocstyle==6.2.3

# Formatting
black==22.12.0
isort==5.11.4

# Other tools
pre-commit==2.21.0
pyupgrade==3.3.1
add-trailing-comma==2.4.0