-r "requirements.txt"
-r "flake8-plugin-requirements.txt"

# Linting
pylint==3.0.2
flake8==6.1.0
bandit==1.7.5
pyright==1.1.337
pydocstyle==6.3.0

# Formatting
black==23.11.0
isort==5.12.0

# Other tools
pre-commit==3.5.0
