-r "requirements.txt"
-r "flake8-plugin-requirements.txt"

# Linting
pylint==2.17.2
flake8==4.0.1
bandit==1.7.5
pyright==1.1.302
pydocstyle==6.3.0

# Formatting
black==23.3.0
isort==5.12.0

# Other tools
pre-commit==3.2.2
