# To enroll
selenium==4.19.0
undetected-chromedriver==3.5.5

# To scrap
aiohttp[speedups]==3.9.3
urlextract==1.9.0
yarl==1.9.4
Telethon==1.34.0
cryptg==0.4.0
beautifulsoup4==4.12.3

# Misc
frozendict==2.4.0
python-dotenv==1.0.1

# Windows compat
tzdata==2024.1
