# To enroll
selenium==4.15.2
undetected-chromedriver==3.5.4

# To scrap
aiohttp[speedups]==3.9.0
urlextract==1.8.0
yarl==1.9.3
Telethon==1.32.1
cryptg==0.4.0
beautifulsoup4==4.12.2

# Misc
frozendict==2.3.9
python-dotenv==1.0.0

# Windows compat
tzdata==2023.3
